@model FitnessCenter.Web.Models.Entities.Musaitlik

@{
    ViewData["Title"] = "Müsaitlik Detay";
}

<h2>Müsaitlik Detay</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">Eğitmen</dt>
        <dd class="col-sm-10">@Model.Egitmen?.AdSoyad</dd>

        <dt class="col-sm-2">Gün</dt>
        <dd class="col-sm-10">@Model.Gun</dd>

        <dt class="col-sm-2">Saat</dt>
        <dd class="col-sm-10">
            @Model.BaslangicSaati.ToString(@"hh\:mm")
            -
            @Model.BitisSaati.ToString(@"hh\:mm")
        </dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Dön</a>
</p>
